 [flake8]
 # Maximum line length
 max-line-length = 160
 # Maximum complexity
 max-complexity = 10
 # Files to exclude
 exclude =
     .git,
     __pycache__,
     build,
     dist,
     *.egg-info,
     venv

 # Ignore specific errors
 ignore =
     # Missing docstring in public module
     D100,
     # Missing docstring in public class
     D101,
     # Missing docstring in public method
     D102,
     # Missing docstring in public function
     D103,
     # Line break before binary operator
     W503,
     # Line break after binary operator
     W504

 # Specify the order of imports
 import-order-style = google

 # Additional configurations
 statistics = True
 count = True
 show-source = True