# Console utilities
rich~=13.9.4

# Autogen
autogen-core==0.4.0.dev6
autogen-ext[langchain,openai]==0.4.0.dev6

# Toolkits
langchain-google-community[gmail]~=2.0.2

# OpenTelemetry
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc